<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

   <!--
			solo copiar la sección de <connectionStrings>
			al App.config de su proyecto
    -->	
  <connectionStrings>
    <!--<add name="Biblia_MAD"
         connectionString="data source=DESKTOP-0993A83;Initial Catalog=Biblia_MAD;User ID=sa;Password=Riv1234*"
         providerName="System.Data.SqlClient"  />-->

	  <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="SQL" connectionString="data source=DESKTOP-0993A83;Initial Catalog=Biblia_MAD;User ID=sa;Password=Riv1234*" providerName="System.Data.SqlClient"/>
    <add name="Biblia_MAD" connectionString="data source=DESKTOP-0993A83;Initial Catalog=Biblia_MAD;persist security info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="Usuarios" connectionString="data source=DESKTOP-0993A83;Initial Catalog=DB_Usuarios;persist security info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
	  <add name="Usuarios2" connectionString="data source=DESKTOP-RF7CS2G\SQLEXPRESS;Initial Catalog=DB_Usuarios;persist security info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
     <!--
    en esta parte se pueden configurar algunos valores que se pueden utilizar en el proyecto
    -->
    <add key="Cluster" value="localhost"/>
    <add key="KeySpace" value="keyspace1"/>
    <add key="IVA" value="0.16"/>
    <add key="kW_Basico" value="100"/>
    <add key="kW_Inter" value="150"/>
    <add key="kW_Exced" value="0"/>	
    <add key="admin" value="xxx"/>
    <add key="BD" value="CASSANDRA"/>
    <add key="UserNom" value="intra"/>
    <add key="PassNom" value="intra"/>
    <add key="ServerNom" value="SrvNomina"/>
    <add key="DataBaseNom" value="Eslabon"/>
    <add key="IVA" value="16"/>
  </appSettings>

</configuration>
